<!--<textarea rows="6" [value]="newPost" #postInput></textarea>-->
<!--<button (click)="onAddPost(postInput)">Guardar</button>-->

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="tituloIngresado"
        formControlName="tituloIngresado"
        placeholder="Titulo"
        />
        <mat-error *ngIf="form.get('tituloIngresado').invalid">Ingrese un titulo</mat-error>
    </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      rows="6"
      formControlName="textoIngresado"
      placeholder="Contenido"
      ></textarea>
      <mat-error *ngIf="form.get('textoIngresado').invalid">Ingrese un contenido</mat-error>
  </mat-form-field>

  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Subir imagen</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
  </div>


  <button
    mat-raised-button
    color="accent"
    type="submit"
    >Guardar</button>
  </form>
</mat-card>


